<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>关于我们</title>
</head>
<body>
  <div class="layout">
    <header class="header header-top">
      <i class="back"></i>
      <p>关于我们</p>
    </header>
    <section class="content">
      <div id="test_02" class="test-02"></div>
      <!-- 测试大背景图处理 -->
      <!-- <div class="test-img"></div> -->
      <!-- 测试大img处理 -->
      <img class="fool" src="../assets/img/fool.gif" alt="">
    </section>
  </div>
</body>
</html>